img {
    float:right;
    padding-left: 10px;
    width: 250px;
}

div{
    position:relative;
    background-color: #fafaff;
    vertical-align: top;
    padding: 15px 50px 15px 50px;
    margin-bottom: -25px;
}

body{
    position: absolute;
    background-position:center;
    background-image: url("../img/background/img3.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

@media (orientation: portrait), (max-width: 600px){
    h2{
        margin-top: 70px;
    }
    body{
        background-image: none;
    }
}
