body{
    background-image: url("../img/homepage/img3.jpg");
    margin: 0;
}

div{
    background-color: #fafaff;
    padding: 1.5px 50px 2vw 50px;
    height:60vw;
}

#rob {
    float: right;
    padding-left: 10px;
    width: 250px;
}

@media (orientation: portrait), (max-width: 600px){
    h2{
        margin-top: 70px;
    }
    body{
        background-image: none;
    }
    #rob {
        float: initial;
        margin-left: 16%;
    }
}
