body {
    text-align: center;
    margin: 0px 0px 0px 0px;
    position: relative;
}

body, html {
    height: 100%;
}

footer{
    position: static;
}

div{
    margin-top: -50px;
    width: 100%;
    font-size: 22px;
}

h1 {
    font-size: 150px;
}

h2{
    margin-bottom: -45px;
}

.blank {
    width: 50%;
    height: 100%;
    margin: auto;
}

.img {

    height: 100%;

    /* Creating the parallax scrolling effect. I used a tutorial from W3Schools,
    and modified it to include several photos.
    Link: https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #img1 {
    background-image: url("../img/homepage/img1.jpg");
  }

  #img2 {
    background-image: url("../img/homepage/img2.jpg");
  }

  #img3 {
    background-image: url("../img/homepage/img3.jpg");
  }

/* SCROLL FADE IN ANIMATION */
#arrowdown {
  width: 10%;
  margin-top: 88vh;
  animation-duration: 1s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}


@keyframes scrolldown {
    from {
      transform: scale(.85,.85)}
    to {
      transform: scale(1,1);
    }
}

#bildeKarusell {
  margin-top: 50px;
  width: 100%;
  height: 75%;
  position: relative;
}

.bilde {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50px;
}

@keyframes fade {
  0%{opacity: 0;}
  45%{opacity: 0;}
  55%{opacity: 1;}
  100%{opacity: 1;}
}
