#shopcontent{
    width: 100%;
    display: grid;
    grid-template: 60px 60px 40px repeat(5, 60px) 40px / 1fr 1fr 50px 1fr 1fr;
}

#productInfo{
    text-align: center;
    margin-top: 20px;
    grid-column: 2 / span 3;
    grid-row-start: 1;
}

#productSpan1{
    grid-column-start: 2;
    grid-row-start: 2;
}

#productSpan2{
    grid-row-start: 2;
    grid-column-start: 4;
}

#customerInfo{
    text-align: center;
    margin-top: 10px;
    grid-column: 2 / span 3;
    grid-row-start: 3;
}

#customerName{
    grid-row-start: 4;
    grid-column: 2 / span 3;
}

#customerEmail{
    grid-row-start: 5;
    grid-column: 2 / span 3;
}

#customerCountry{
    grid-row-start: 6;
    grid-column: 2 / span 3;
}

#customerAddress{
    grid-row-start: 7;
    grid-column: 2 / span 3;
}

#customerCity{
    grid-row-start: 8;
    grid-column-start: 2;

}

#customerPostal{
    grid-row-start: 8;
    grid-column-start: 4;
}

input[type="text"], input[type="number"], input[type="email"], select{
    font-family: "Roboto", "Arial", sans-serif;
    padding: 5px;
    border: solid 1px #aaaaaa;
    color: #222222;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="submit"]{
    padding: 5px;
    background-color: #222222;
    color: #fafaff;
    border: solid 3px #333333;
    margin: auto;
    width: 100px;
    height: 40px;
    font-size: 1em;

    grid-row-start: 9;
    grid-column: 2 / span 3;
}

input[type="submit"]:active{
    background-color: #444444;
}
