body{
    background-position:center;
    background-image:url("../img/homepage/img2.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

#shopcontent{
    position: relative;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template: 60px 60px 40px repeat(5, 60px) 40px / 1fr 1fr;
    grid-column-gap: 25px;
    grid-auto-flow: row;
    background-color: #fafaff;
    padding: 15px 50px 15px 50px; 
}
div{
    width: 33%;
    padding: 15px 50px 15px 50px; 
    background-color: #fafaff;
    position: relative;
    margin-bottom: -50px;
}
.wrap{
    grid-column: 1 / span 2;
}

h2{
    text-align: center;
}

#customerInfo{
    margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="email"], select{
    font-family: "Roboto", "Arial", sans-serif;
    padding: 5px;
    border: solid 1px #aaaaaa;
    color: #222222;
    width: 100%;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="submit"]{
    padding: 5px;
    background-color: #222222;
    color: #fafaff;
    border: solid 3px #333333;
    margin: auto;
    width: 100px;
    height: 40px;
    font-size: 1em;
}

tr{
    padding: 15px;
}

td{
    min-width: 200px;
}

input[type="submit"]:active{
    background-color: #444444;
}

@media (orientation: portrait), (max-width: 900px){
    #shopcontent{
        width: 90%;
        margin-top: 80px;
    }
    body{
        background-image: none;
    }
}
