body{
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  color: #000000;
}

header{
  width: 750px;
  margin: auto;
}

figure{
  text-align: center;
}

img{
    max-width: 600px;
}


.box{
  width: 750px;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding: 25px;
}

footer{
  margin: 10px;
}

td, th{
    border: 1px solid #333333;
    padding: 10px;
}

table{
    border-collapse: collapse;
}
